.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: pink;
}

#school-table-div{
    width: fit-content;
    margin: auto;
    border: black solid 1px;
    max-height: 400px;
    overflow-y: scroll;
    float: left;
}

.table-div{
    width: fit-content;
    margin: auto;
    border: black solid 1px;
}

#add-tables{
    float: left;
}
th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

td{
    border-left: black solid 1px;
    text-align: center;
}

.dropdown {
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}


.form-d{
    width: 100%;
    border-radius: 5px;
}

.submit-btn{
    width: 100%;
    border-radius: 5px;
}
.dd-style{
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
}

.submit-btn:hover{
    background-color: #4CAF50;
    color: white;
    cursor: grab;
}
.submit-btn:focus{
    background-color: #3b8a3d;
    color: white;
    cursor: grabbing;
}

.input-form{
    width: 50%;
    float: right;
}